{% extends "layout.html" %}

{% block content %}
  <h3>Pages</h3>
  <hr>
  <ul class="list-unstyled">
    <!-- PLACEHOLDER LIST OF PAGES -->
  </ul>

<!-- {% if showForm %}
     <form action="/" method="POST">
       <label for="name_field">Name:</label>
       <input name="name" type="text" id="name_field" value="{{title}}" >

       <label for="text_field">Text:</label>
       <input name="text" type="text" id="text_field" style="width: 350px;" />

       <input type="submit" value="Submit" />
     </form>
   {% endif %}
{% endblock %}

 -->
